
body{
    background-color:$backgroundColor;
    line-height: 30px;
}
h1{
    margin: 70px;
    font-family: $secondaryFont;
    font-size: 50px;
    line-height: 70px;
    color: $secondaryColor;
    text-align: center;
    text-transform: uppercase;
}
form{
    margin: 0 auto;
    width: 250px;
    font-size: 20px;
    text-align: center;
}

form div {
    padding: 20px 0;
}
input[number]{
    width: 200px;
    padding: 20px 20px;
    border: 20px;
}
input[submit]{
    width: 100px;
}
.information h2 {
    font-size: 30px;
    color: $primaryColor;
    text-align: center;
}
.information img {
    width: 200px;
    margin: 0 auto;
    display: block;
}
.information p {
    font-size: 18px;
    color: $primaryColor;
    text-align: left;
}
.information {
    margin: 0 auto;
}
