// Fonts
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Finger Paint', cursive;

//Colour
$backgroundColor: rgb(141, 19, 19);
$primaryColor: rgb(244, 244, 237);
$secondaryColor: rgb(232, 235, 50)